.navbar {
    border: 1px solid black;
    height: 80px;
    width: 100%;
    margin: 0;
    padding-top: 20px;

}
nav ul {
    float: right;
    margin-right: 50px;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #0c0910;
    font-size: 25px;
    text-decoration: none;
  
  }

  img { 
      height: 3rem;
  }

  /** Ejercicio 2 **/
   .container__button {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,#7494dd , #c86085)
    
 }

  .button {
    padding: 30px 60px;
    border: 1px solid #3d4751;
    background-color:#3d4751 ;
    text-decoration: none;
    color:white;
    font-size: 20px;
  }
  .button:hover {
      border: 1px solid white;
      background: rgba(61, 71, 81, 0.4);
      transition: 1s;
      box-shadow: -6px 6px 6px 0px rgba(61, 71, 81, 0.4);
 }
 /** Ejercicio 3 **/